.button {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 16px;
  background: blue;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #00a;
}

.button:focus-visible {
  outline: 1px solid black;
}
